In [2]:
2+2

4

#VARIABLE AND DATATYPES

In [3]:
name="Nevendra"

In [4]:
age=18

In [5]:
is_married=False

In [6]:
color="RED"

In [7]:
x=1
y=35656222554887711
z=-3255522

In [8]:
a=1.10
b=-35.59
c=87.7e100

In [9]:
nm="BRUCE WAYNE 01"
colour='YELLOW'
Institute='''Amity 
               University'''

In [10]:
is_coding=True
is_fun=True
are_u_bored=False

In [11]:
q=None

In [12]:
names=['Nevendra',27,'Digipodium']
num=[27,8.99,87.7E100]
colors=['Red','Yellow','Green','Blue']

#TUPLES

In [13]:
_tuples=(1,2,3,4,5,6,7,8,9)

#SETS

In [14]:
s={5,10,15,20,5,15}
vals={1,2.2,'Python'}
colo={'red','Green','Yellow'}

#DICTIONARY

In [15]:
car_info={
    "brand":"ford",
    "model":"Mustang",
    "year":1964
}

# OPERATORS

In [16]:
10+20

30

In [17]:
10-3

7

In [18]:
10*20

200

In [19]:
10/3

3.3333333333333335

In [20]:
10%3

1

In [21]:
10//3

3

In [22]:
10**3

1000

In [23]:
x=10

In [24]:
x+=10

In [25]:
x-=5

In [26]:
x*=5

In [27]:
x/=15

In [28]:
x==5

True

In [29]:
x!=5

False

In [30]:
x>5

False

In [31]:
x<5

False

In [32]:
x>=5

True

In [34]:
x<=5

True

In [35]:
x>0 and x<5

False

In [36]:
x>0 or x>4

True

In [37]:
x>0 and x<=5

True

In [38]:
not (x>0 and x<=5)

False

In [39]:
'hello'=='hello'

True

In [52]:
l=[5,1,2,3]
k=[5,1,2,3]
n=l #n refers to the same object as l

In [53]:
l==k

True

In [54]:
l is k

False

In [57]:
l is n

True

In [73]:
days=['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

In [68]:
'Tuesday' in days

True

In [69]:
'holiday' in days

False

In [70]:
numss=[10,34,52,56,78,98]

In [71]:
56 in numss

True

In [72]:
11 in numss

False

In [74]:
11 not in numss

True

In [77]:
msg=input('Enter your name : ')

In [78]:
print(msg)

nevendra

In [96]:
name = input('Enter your name : ')
age = input('Enter your age : ')
school= input('Enter your school name : ')

In [97]:
type(age)

str

In [98]:
age=int(age)
type(age)

int

In [99]:
num1='100'
num2='-90'
num1 + num2

'100-90'

In [100]:
num1=int(num1)
num2=int(num2)
num1 + num2

10

In [102]:
c='cat'
type(c)

str

In [108]:
f=3.1425879
print(f)

3.1425879

In [109]:
f1=int(f)
print(f1)

3

In [111]:
type(f)

float

In [112]:
type(f1)

int

In [6]:
num3=0
val=bool(num3)
print(val)
type(val)

False

bool

In [4]:
married='Yes'
m1=bool(married)
print(m1)
type(m1)

True

bool

# Some more example

In [8]:
name = input('Enter your name : ')
city= input('Enter your city')
fav_food=input('Enter your favourite food : ')
fav_movie=input('Enter your favourite movie : ')
fav_book=input('Enter your favourite book : ')

Your name : nevendra
your city : lucknow
your favourite food : pizza
your favourite movie : xyz
your favourite book : abc

In [10]:
print(f'Your name : {name}')
print(f'your city : {city}')
print(f'your favourite food : {fav_food}')
print(f'your favourite movie : {fav_movie}')
print(f'your favourite book : {fav_book}')

Your name : nevendra
your city : lucknow
your favourite food : pizza
your favourite movie : xyz
your favourite book : abc

In [12]:
n1=int(input('Enter n1 : '))
n2=int(input('Enter n2 : '))
n3=n1+n2
print(f'{n1}+{n2}={n3}')

2+4=6

In [13]:
n3=int(input('Enter n3 : '))
n4=int(input('Enter n4 : '))
n5=int(input('Enter n5 : '))

In [15]:
tol=n1+n2+n3+n4+n5
print(f'{n1}+{n2}+{n3}+{n4}+{n5}={tol}')

2+4+8+7+9=30

In [27]:
base=float(input('Enter the base : '))
per=float(input('Enter the perpendicular : '))
print(f'hypotenuse : {(base**2+per**2)**0.5}')

hypotenuse : 5.0

In [33]:
prn=float(input('Enter the principle : '))
rate=float(input('Enter the rate : '))
time=float(input('Enter time period : '))
si=(prn*rate*time)/100
print(f'Simple interest : {si}')
print(f'amount : {prn+si} ')

Simple interest : 250.0
amount : 750.0

In [41]:
print('You see an apple seller')
q=input('Do you like apple ?')
if q=='yes':
    print('Purchase 2kg apple')
if q=='no':
    print('You Dont purchase apples')

You see an apple seller
Purchase 2kg apple

In [44]:
x=10
if x> 5:
    print('x is greater than 5')
    print('This is the info we needed')
    print('with this power, comes the great reponsibiity')
print('the end')

x is greater than 5
This is the info we needed
with this power, comes the great reponsibiity
the end

In [47]:
temp=float(input('What is the temperature : '))
if temp>70:
    print('Wear shorts')
else:
    print('Wear long pants')
print('Get some exercise outside')

Wear long pants
Get some exercise outside

In [48]:
temp=float(input('What is the temperature : '))
if temp>70:
    print('Wear shorts')
else:
    print('Wear long pants')
print('Get some exercise outside')

Wear shorts
Get some exercise outside

In [60]:
score=int(input('Your score'))
if score>=90:
    letter='A'
elif score>=80:
    letter='B'
elif score>=70:
    letter='C'
elif score>=60:
    letter='D'
else:
    letter='F'
print(letter)

A