# DATA STRUCTURES
# LIST
   -  indexed structures
   - mutable
   - ordered
   - can contain duplicates
   - hetrogeneous values
   - can be nested
   - `list()` is the function to convert other iterables to lits
   - list has 11 method

In [51]:
movies=['Avatar','Titanic','Star wars','The matrix','Incredible']
print(movies)

['Avatar', 'Titanic', 'Star wars', 'The matrix', 'Incredible']

In [52]:
movies[0]

'Avatar'

In [53]:
movies[1]

'Titanic'

In [54]:
movies[3]

'The matrix'

In [55]:
movies[4]

'Incredible'

In [56]:
movies[1]='Avengers'

In [57]:
movies

['Avatar', 'Avengers', 'Star wars', 'The matrix', 'Incredible']

In [58]:
movies[-1]

'Incredible'

In [59]:
movies[-2:]

['The matrix', 'Incredible']

In [60]:
movies[::-1]

['Incredible', 'The matrix', 'Star wars', 'Avengers', 'Avatar']

In [61]:
for m in movies:
    print(f'i watch {m}')

i watch Avatar
i watch Avengers
i watch Star wars
i watch The matrix
i watch Incredible

In [62]:
#duplicate
x=[1]*10
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [63]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
z=[11,56,78,34,56,90,99,100,0]
sorted(z)

[0, 11, 34, 56, 56, 78, 90, 99, 100]

In [65]:
sorted(movies)

['Avatar', 'Avengers', 'Incredible', 'Star wars', 'The matrix']

In [66]:
sum(z)

524

In [67]:
max(z)

100

In [68]:
min(z)

0

In [69]:
len(z)

9

In [70]:
print("{:.2f}".format(sum(z)/len(z)))

58.22

# METHODS OF LIST
   - adding items in list
       - append()
       - inset()
       - extend()
   - removing items in list
       - pop()
       - remove()
       - clear()
   - utility function
        - sort()
        - reversed()
        - index()
        - count()
        - copy()

In [71]:
books=['The final empire',
        'The well of ascension',
        'The hero of ages',
        'Steelheart',
        'Legion',
        'Firefight',
        'Calamity',
        'Way of the kings',
        'word of radiance'
        'Oathbringer',
        'The rythm of war',
        'Warbreaker',
        'The Rithmatist']

In [72]:
books.append('legion: SKin deep')

In [73]:
books.append('Elanris')
books.append('White send')
books.append('Firstbond')
books.append(['apple','banana','oranges'])
books

['The final empire',
 'The well of ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'word of radianceOathbringer',
 'The rythm of war',
 'Warbreaker',
 'The Rithmatist',
 'legion: SKin deep',
 'Elanris',
 'White send',
 'Firstbond',
 ['apple', 'banana', 'oranges']]

In [74]:
books.insert(5,'Mitosis')

In [76]:
books[17][1]='pineapple'

In [77]:
worst_books=['The states','The white tigers','The twilight Saga : The new moon']

In [78]:
books.extend(worst_books)

In [79]:
books

['The final empire',
 'The well of ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'Mitosis',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'word of radianceOathbringer',
 'The rythm of war',
 'Warbreaker',
 'The Rithmatist',
 'legion: SKin deep',
 'Elanris',
 'White send',
 'Firstbond',
 ['apple', 'pineapple', 'oranges'],
 'The states',
 'The white tigers',
 'The twilight Saga : The new moon']

In [80]:
books.extend([1,2,3])

In [81]:
books

['The final empire',
 'The well of ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'Mitosis',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'word of radianceOathbringer',
 'The rythm of war',
 'Warbreaker',
 'The Rithmatist',
 'legion: SKin deep',
 'Elanris',
 'White send',
 'Firstbond',
 ['apple', 'pineapple', 'oranges'],
 'The states',
 'The white tigers',
 'The twilight Saga : The new moon',
 1,
 2,
 3]

In [88]:
remove_val='The states'
if remove_val in books:
    books.remove(remove_val)
else:
    print('NOT FOUND')

NOT FOUND

In [89]:
books.pop(-2)

2

In [90]:
books

['The final empire',
 'The well of ascension',
 'The hero of ages',
 'Steelheart',
 'Legion',
 'Mitosis',
 'Firefight',
 'Calamity',
 'Way of the kings',
 'word of radianceOathbringer',
 'The rythm of war',
 'Warbreaker',
 'The Rithmatist',
 'legion: SKin deep',
 'Elanris',
 'White send',
 'Firstbond',
 ['apple', 'pineapple', 'oranges'],
 'The twilight Saga : The new moon',
 1,
 3]