In [1]:
fruits=['APPLE','BANANA','LEMON']
for items in fruits:
    print(f'i have {items}')

i have APPLE
i have BANANA
i have LEMON

In [2]:
for i in range(5):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4

In [3]:
for i in range(2,11):
    print('marks = ',i)

marks =  2
marks =  3
marks =  4
marks =  5
marks =  6
marks =  7
marks =  8
marks =  9
marks =  10

In [4]:
for num in range(1,10,3):
    print('Level',num)

Level 1
Level 4
Level 7

In [5]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [6]:
for i in range(10):
    print(i * 'NA')

NA
NANA
NANANA
NANANANA
NANANANANA
NANANANANANA
NANANANANANANA
NANANANANANANANA
NANANANANANANANANA

In [7]:
for nums in range(1,101):
    if(num%3==0 and num%5==0):
        print(num)

In [8]:
places=['Paris','London','New York','Madrid','Rome']
for place in places:
    print(f'{place} contains {len(place)} character')

Paris contains 5 character
London contains 6 character
New York contains 8 character
Madrid contains 6 character
Rome contains 4 character

In [9]:
x=[1,2,4,1,1,1,3,4,6,6,5,8,9,0,1,1,1,1,5,6,4]
c=0
for i in x:
    if i==1:
        c+=1
print(c)

8

# WHILE LOOP

In [10]:
x=1
while(x<10):
    print('Running')
    x+=1
print('Stop')

Running
Running
Running
Running
Running
Running
Running
Running
Running
Stop

In [11]:
n=10
total=0
i=1
while i<=n:
    total=total+i
    i=i+1
print("the sum is ",total)

the sum is  55

In [12]:
while input('continue ?')=='y':
    print('You continue this loop')

In [13]:
while len(input("name a place : "))>0:
    print('you enter a place')

you enter a place
you enter a place

In [14]:
num=int(input('enter a num : '))
while(num>0):
    if num %24==0:
        break
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

In [15]:
story=""
while True:
    line=input('enter a line')
    if line=="":
        break
    story+=line+'\n'

In [16]:
print(story)

cng
hdgh

In [17]:
v=[0,8,6,8,0,8,6,8,0,7,56,4,4,6,78,89,0,9,7,90,0,0]
for i in v:
    if i==0:
        continue
    print(i)

8
6
8
8
6
8
7
56
4
4
6
78
89
9
7
90

In [18]:
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have APPLE
we have BANANA
we have LEMON
thats all

In [19]:
vegs=['Tomato','Onion','Cucumber','Potato']
for veg in vegs:
    print(f'looking at {veg}')
    if veg=='Potato':
        print('Potato found')
        break
else:
    print('Potato not found')

looking at Tomato
looking at Onion
looking at Cucumber
looking at Potato
Potato found

In [20]:
num=int(input('enter a number : '))
for i in range(2,num):
    if num%i==0:
        print(f'{num} is not a prime number')
        break
else:
    print(f'{num} is a prime number')

10 is not a prime number

# ENUMERATE

In [21]:
for idx,val in enumerate(vegs):
    print(idx,val)

0 Tomato
1 Onion
2 Cucumber
3 Potato

# ZIP

In [1]:
a=[3,5,6,7,8,9]
b=[7,6,4,3,3,3]
c=[4,5,6,7,8,9]

for i,j,k in zip(a,b,c):
    print(i+j+k, end=' ')

14 16 16 17 19 21