In [7]:
name='Nevendra Kumar Upadhyay'

In [8]:
len(name)

23

In [9]:
name[0]

'N'

In [10]:
name[6]

'r'

In [31]:
fname=name[0:8]
print(fname)

Nevendra

In [30]:
s='digipodium'
slice1=s[4:7]
print(slice1)

pod

In [41]:
name='vijay deenanath chauhan'

16

In [38]:
fname=name[6:15]
print(fname)

deenanath

In [43]:
name[-7:len(name)]

'chauhan'

In [51]:
s='digipodium'
slice1=s[0:4]
print(slice1)
slice2=s[:4]
print(slice2)

digi
digi

In [52]:
s='digipodium'
slice1=s[4:len(s)]
print(slice1)
slice2=s[4:]
print(slice2)

podium
podium

In [57]:
x=chr(2365)
print(x)

ऽ

In [67]:
x=chr(8987)
print(x)

⌛

In [90]:
for i in range(65,91):
    x=chr(i)
    print(x)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [1]:
y=ord('Z')
print(y)

90

In [2]:
sum=0
for i in "nevendra":
    y=ord(i)
    sum=sum+y
    print(y,end=' ')

110 101 118 101 110 100 114 97

In [3]:
a='apple'
b='juice'
ab=a+' '+b
print(ab)

apple juice

In [4]:
w1='this'
w2='is'
w3='amazing'
msg=w1+' '+w2+' '+w3
print(msg)

this is amazing

In [5]:
word='hello '
print(word*8)

hello hello hello hello hello hello hello hello

In [6]:
print('-'*147)

---------------------------------------------------------------------------------------------------------------------------------------------------

# METHODS

In [26]:
story="Once upon a time there was a kingdom where people lived, The end"

In [27]:
story.upper()

'ONCE UPON A TIME THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [28]:
story.lower()

'once upon a time there was a kingdom where people lived, the end'

In [29]:
story.capitalize()

'Once upon a time there was a kingdom where people lived, the end'

In [30]:
print(story)

Once upon a time there was a kingdom where people lived, The end

In [31]:
story.title()

'Once Upon A Time There Was A Kingdom Where People Lived, The End'

In [32]:
story.swapcase()

'oNCE UPON A TIME THERE WAS A KINGDOM WHERE PEOPLE LIVED, tHE END'

In [33]:
story.title().swapcase()

'oNCE uPON a tIME tHERE wAS a kINGDOM wHERE pEOPLE lIVED, tHE eND'

In [36]:
name='samuel'
print(name)

samuel

In [45]:
print(name.rjust(100))

                                                                                              samuel

In [47]:
story.rjust(120)

'                                                        Once upon a time there was a kingdom where people lived, The end'

In [48]:
story.ljust(100,'?')

'Once upon a time there was a kingdom where people lived, The end????????????????????????????????????'

In [50]:
story.center(100,'*')

'******************Once upon a time there was a kingdom where people lived, The end******************'

# VALIDATION

In [58]:
name=input('who are you')
if not name.isalpha():
    print('name is invalid')
else:
    print('good job')

name is invalid

In [61]:
num=input('who are you')
if not num.isnumeric():
    print('num is invalid')
else:
    print('good job')

good job

In [62]:
story.isupper()

False

In [63]:
story.islower()

False

In [71]:
x='myfile.png'
x.endswith('png')

True

In [72]:
name='Dr john smith'
if name.startswith('Dr'):
    print('welcome doctor')
else:
    print('Welcome')

welcome doctor

In [80]:
story='Once upon a time, there was a kingdom where people lived, The end'
word=story.split(',')
print(word)  #split gives a list

['Once upon a time', ' there was a kingdom where people lived', ' The end']

In [83]:
len(story.split())

13

In [93]:
c=['n','e','v','e','n','d','r','a']
s=(''.join(c))
print(s)

nevendra

In [99]:
password=input('enter a password')
print(len(password),password)
password=password.strip()
print(len(password),password)

14   7894  7894
10 7894  7894

In [104]:
story.replace('e','a')

'Onca upon a tima, thara was a kingdom whara paopla livad, Tha and'

In [106]:
story.replace('Onca','Once')

'Once upon a time, there was a kingdom where people lived, The end'

In [108]:
story.replace('the','')

'Once upon a time, re was a kingdom where people lived, The end'

In [112]:
another_story='THis is story of another story, this story is not simple and is not very long, but it is a story'

In [118]:
another_story.count('is')

6

In [120]:
another_story.find('another')

17

In [123]:
another_story.rfind('story')

91